.filter{
  display: flex;
  height: 10vh;
  padding: 0 2vw;
  background-color: rgb(135, 15, 23);
}

.filter div{
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(232, 127, 127);
  font-size: 4vh;
  font-weight: bolder;
  margin: 1vh 1vw;
  width: 8vh;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.filter div i{
  display: flex;
}

.filter div:hover{
  background-color: rgb(87, 74, 190);
  color: rgb(255, 255, 255);
}

.sort-options, .search {
  border: none;
  outline: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5vh;
  margin: 2vh 8vh;
  padding: 1vh;
  width: 12vw;
  height: 6vh;
}

.sort-options:hover, .search:hover{
  border: 2px solid grey;
}

