.folderlist{
  height: 88vh;
  overflow: auto;
}

.w3-btn{
  border: 1px solid white;
}

.w3-container{
  padding: 0;
}

.subfolder{
  padding: 1rem 2.5rem;
  border: none;
}

.subfolder:hover{
  background-color: rgb(197, 176, 212);
}