.folderlist{
  height: 88vh;
  overflow: auto;
}

.w3-btn{
  border: 1px solid white;
}

.w3-container{
  padding: 0;
  display: flex;
  flex-direction: column;
}

.subfolder{
  padding: 1rem 2.5rem;
}

.subfolder:hover{
  background-color: rgb(197, 176, 212);
}