.file-list{
  text-align: left;
  border-left: .5rem solid white;
  border-right: .5rem solid white;
}

.toggle-view{
  height: 80vh;
  overflow: auto;
}

.file-list .file{
  display: block;
  margin: 1rem 1.5rem;
}

.list-item{
  font-size: 2rem;
  padding: 1.5rem;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.list-item div{
  padding-left: 1rem;
}

.list-item:hover{
  background-color: rgb(197, 176, 212); 
}

.grid-view{
  text-align: center;
  margin: 1rem 2rem;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.grid-item{
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.grid-item div{
  width:10rem;
  font-size: 2rem;
}

.grid-item:hover{
  background-color: rgb(197, 176, 212);
}

.file-path{
  text-align: center;
}