*{
  margin:0;
  padding: 0;
}

.App{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(211, 206, 223);
}

.directory{
  border: 1vh solid white;
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 88vh;
}

/* SCROLLBAR STYLES */

/* width */
::-webkit-scrollbar {
  width: 1rem;
  max-height: fit-content;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 180, 204); 
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 141, 166); 
}